html{
  background-color:aqua;
}
.nav{
  background-color: aliceblue;
  width: 100%;
}
.downloadBtn{
  width: 200px;
  height: 100px;
}
.downloadDiv{
  width: 100%;
  height: 300px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
}
h2{
text-align: center;
}
form{
  background-color: aqua;
}
.downloadForm{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: column;
}
.progress{
  width: 300px;
}
.allFiles{
  margin-top: 20px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 100%;
  height: auto;
  flex-direction: column;
  background-color:aqua;
}
.fileElement{
  height: 50px;
  display: grid;
  gap: 5%;
  width: 50%;
  justify-content: right;
  grid-template-columns: repeat(3, auto);
  border-radius: 10px;
  margin-top: 10px;
  background-color: aliceblue;
  font-size: large;
}
.buttonElement{
  width: 100px;
}